[submodule "autopilot-mutating-webhook"]
	path = autopilot-mutating-webhook
	url = git@github.ibm.com:c-misale/autopilot-mutating-webhook.git
[submodule "healthcheckoperator"]
	path = healthcheckoperator
	url = git@github.ibm.com:hybrid-cloud-infrastructure-research/healthcheckoperator.git
