[submodule "autopilot-mutating-webhook"]
	path = autopilot-mutating-webhook
	url = git@github.ibm.com:hybrid-cloud-infrastructure-research/autopilot-mutating-webhook.git
	branch = main
[submodule "healthcheckoperator"]
	path = healthcheckoperator
	url = git@github.ibm.com:hybrid-cloud-infrastructure-research/healthcheckoperator.git
	branch = main
